extends ../layout_dashboard
block content	
	#sectionContent
		#wrapper
			#wrapperHeader.row
				h1 Errors
			#wrapperContent.row
				.panel.panel-default
					.panel-heading
					.panel-body
						.list-group
							each item in errors
								a.list-group-item(href="/#")
									p=item.code
									p= item.title
									p= item.description
									p= item.proximityUUID
									p= item.region									